SECRET_KEY=django-insecure-abc123xyz456randomstuffhere
DEBUG=True

SUPABASE_URL=https://oopqocihxbozievqrpcv.supabase.co
SUPABASE_JWT_SECRET=4u8drj/QmpNlcwYay64z4jyN2W7ObFTXbu6I+VLgYhdRbcRZF+grt9ttbsaMB0o+73FXw/Q2QJEY+JKg98DzBA==

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=lizalosthitesh@2026
DB_HOST=db.oopqocihxbozievqrpcv.supabase.co
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173